In [1]:
# Import libraries
import pandas as pd
from pathlib import Path

In [13]:
# Read in CSV histoical data file from Tether_pairs which was downloaded from CryptoDataDownload.com

# ID coin and exchange variables
coin = "XRP"
exchange = "Binance"


df = pd.read_csv(Path(f"./Tether_pairs/{exchange}/hourly/{exchange}_{coin}USDT_1h.csv"), parse_dates= True, infer_datetime_format = True)
df.head()

                                                                                              https://www.CryptoDataDownload.com
Unix          Date                Symbol  Open   High   Low    Close  Volume XRP Volume USDT                          tradecount
1673391600000 2023-01-10 23:00:00 XRPUSDT 0.3511 0.3527 0.3504 0.3507 12812340.0 4502693.4186                               4855
1673388000000 2023-01-10 22:00:00 XRPUSDT 0.3523 0.3528 0.3506 0.3512 10289667.0 3619542.7731                               4375
1673384400000 2023-01-10 21:00:00 XRPUSDT 0.3539 0.354  0.3522 0.3524 10614415.0 3747807.8044                               3856
1673380800000 2023-01-10 20:00:00 XRPUSDT 0.3534 0.3541 0.352  0.354  13307173.0 4700667.3296                               5771

In [3]:
df = df.reset_index()
df

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,https://www.CryptoDataDownload.com
0,Unix,Date,Symbol,Open,High,Low,Close,Volume XRP,Volume USDT,tradecount
1,1673391600000,2023-01-10 23:00:00,XRPUSDT,0.3511,0.3527,0.3504,0.3507,12812340.0,4502693.4186,4855
2,1673388000000,2023-01-10 22:00:00,XRPUSDT,0.3523,0.3528,0.3506,0.3512,10289667.0,3619542.7731,4375
3,1673384400000,2023-01-10 21:00:00,XRPUSDT,0.3539,0.354,0.3522,0.3524,10614415.0,3747807.8044,3856
4,1673380800000,2023-01-10 20:00:00,XRPUSDT,0.3534,0.3541,0.352,0.354,13307173.0,4700667.3296,5771
...,...,...,...,...,...,...,...,...,...,...
33718,1525435200000,2018-05-04 12:00:00,XRPUSDT,0.91596,0.9245,0.9,0.90098,1323800.17,1207513.0577843,2327
33719,1525431600000,2018-05-04 11:00:00,XRPUSDT,0.90128,0.9213,0.88,0.91596,1714233.92,1550125.8623716,2886
33720,1525428000000,2018-05-04 10:00:00,XRPUSDT,0.90199,0.91027,0.8951,0.90128,1176810.48,1064841.9377939,2077
33721,1525424400000,2018-05-04 09:00:00,XRPUSDT,0.923,0.9285,0.901,0.90199,3326696.1,3047296.5701691,5345
33722,1525420800000,2018-05-04 08:00:00,XRPUSDT,0.5,1.5,0.5,0.923,5090857.33,4696706.9804918,9761

In [4]:
# reformat the dataframe to set column names, drop unnecessary rows and columns, move Datetime column to index

df.rename(columns = {"level_0":"Unix", "level_1": "Datetime", "level_2": "Symbol_Pair",
                        "level_3": "Open", "level_4": "High", "level_5": "Low", "level_6": "Close",
                        "level_7": f"Volume_in_{coin}", "level_8": "Volume_USDT", "https://www.CryptoDataDownload.com": "Tradecount"},
              inplace = True)
df = df.drop([0,1], axis=0)
df = df.drop(["Unix"], axis=1)
df = df.set_index("Datetime")

In [5]:
# change index to dtype datetime
df.index = pd.to_datetime(df.index)

# Insert column for exchange name
df.insert(loc=0, column = "Exchange", value= f"{exchange}")

In [6]:
display(df.head(5))
df.tail()

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_XRP,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2023-01-10 22:00:00,Binance,XRPUSDT,0.3523,0.3528,0.3506,0.3512,10289667.0,3619542.7731,4375
2023-01-10 21:00:00,Binance,XRPUSDT,0.3539,0.354,0.3522,0.3524,10614415.0,3747807.8044,3856
2023-01-10 20:00:00,Binance,XRPUSDT,0.3534,0.3541,0.352,0.354,13307173.0,4700667.3296,5771
2023-01-10 19:00:00,Binance,XRPUSDT,0.3522,0.3537,0.3517,0.3534,9659928.0,3406708.0802,4497
2023-01-10 18:00:00,Binance,XRPUSDT,0.3499,0.3523,0.3499,0.3522,11740235.0,4124150.5116,5320

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_XRP,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2018-05-04 12:00:00,Binance,XRPUSDT,0.91596,0.9245,0.9,0.90098,1323800.17,1207513.0577843,2327
2018-05-04 11:00:00,Binance,XRPUSDT,0.90128,0.9213,0.88,0.91596,1714233.92,1550125.8623716,2886
2018-05-04 10:00:00,Binance,XRPUSDT,0.90199,0.91027,0.8951,0.90128,1176810.48,1064841.9377939,2077
2018-05-04 09:00:00,Binance,XRPUSDT,0.923,0.9285,0.901,0.90199,3326696.1,3047296.5701691,5345
2018-05-04 08:00:00,Binance,XRPUSDT,0.5,1.5,0.5,0.923,5090857.33,4696706.9804918,9761

In [7]:
# check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 33721 entries, 2023-01-10 22:00:00 to 2018-05-04 08:00:00
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exchange       33721 non-null  object
 1   Symbol_Pair    33721 non-null  object
 2   Open           33721 non-null  object
 3   High           33721 non-null  object
 4   Low            33721 non-null  object
 5   Close          33721 non-null  object
 6   Volume_in_XRP  33721 non-null  object
 7   Volume_USDT    33721 non-null  object
 8   Tradecount     33721 non-null  object
dtypes: object(9)
memory usage: 2.6+ MB

In [8]:
# change data type float
columns = ['Open', 'High', 'Low', 'Close', f'Volume_in_{coin}', 'Volume_USDT', 'Tradecount']
for c in columns:
    df = df.astype({c: float})

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 33721 entries, 2023-01-10 22:00:00 to 2018-05-04 08:00:00
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exchange       33721 non-null  object
 1   Symbol_Pair    33721 non-null  object
 2   Open           33721 non-null  float64
 3   High           33721 non-null  float64
 4   Low            33721 non-null  float64
 5   Close          33721 non-null  float64
 6   Volume_in_XRP  33721 non-null  float64
 7   Volume_USDT    33721 non-null  float64
 8   Tradecount     33721 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.6+ MB

In [10]:
# check for null values
df.isna().sum().sum()

0

In [11]:
# slice data from 2021 & 2022
df = df.loc['2021-01-01':'2022-12-27']
display(df.head())
df.tail()

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_XRP,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2022-12-27 00:00:00,Binance,XRPUSDT,0.3657,0.3676,0.3621,0.3633,16226690.0,5.918040e+06,9904.0
2022-12-26 23:00:00,Binance,XRPUSDT,0.3663,0.3670,0.3646,0.3658,14661514.0,5.363950e+06,7752.0
2022-12-26 22:00:00,Binance,XRPUSDT,0.3665,0.3697,0.3662,0.3663,12797904.0,4.706122e+06,6211.0
2022-12-26 21:00:00,Binance,XRPUSDT,0.3693,0.3697,0.3656,0.3665,19509831.0,7.177559e+06,8241.0
2022-12-26 20:00:00,Binance,XRPUSDT,0.3663,0.3697,0.3653,0.3694,20096851.0,7.375184e+06,7984.0

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_XRP,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2021-01-02 04:00:00,Binance,XRPUSDT,0.23461,0.23495,0.23234,0.23482,22286397.7,5.206730e+06,9759.0
2021-01-02 03:00:00,Binance,XRPUSDT,0.23374,0.23526,0.23369,0.23461,17579256.3,4.124071e+06,6924.0
2021-01-02 02:00:00,Binance,XRPUSDT,0.23658,0.23823,0.23344,0.23367,26667887.2,6.287747e+06,11934.0
2021-01-02 01:00:00,Binance,XRPUSDT,0.23231,0.23750,0.23120,0.23649,33705190.1,7.913606e+06,15753.0
2021-01-02 00:00:00,Binance,XRPUSDT,0.23740,0.23767,0.23078,0.23229,43024272.6,1.004874e+07,17002.0

In [12]:
# make a copy of new dataframe and export to Data file for use in ML models
df_export = df.copy()
df_export.to_csv(f'./Data/{exchange}/hourly/21-22{exchange}_{coin}_1h.csv')