In [1]:
import pandas as pd
from pathlib import Path

In [2]:
predictions_df = pd.read_csv(Path('./Bifinex-Bitcoin-ActualClose.csv'), index_col='Datetime', parse_dates=True, infer_datetime_format=True)
predictions_df.head()

               close  Prophet-forecast  difference
Datetime
2022-12-27  16608.63               NaN         NaN
2022-12-28  16562.38       16097.03240     -465.35
2022-12-29  16551.04       15980.92149     -570.12
2022-12-30  16546.73       15952.49113     -594.24
2022-12-31  16544.70       15896.96875     -647.73

In [3]:
predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2022-12-27 to 2023-01-04
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   close             9 non-null      float64
 1   Prophet-forecast  8 non-null      float64
 2   difference        8 non-null      float64
dtypes: float64(3)
memory usage: 288.0 bytes

In [4]:
predictions_df['close'] = predictions_df['close'].apply(lambda x: x.replace(',',''))

predictions_df.head(2)

AttributeError: 'float' object has no attribute 'replace'

In [5]:
# change data type to object and float
predictions_df = predictions_df.astype({'close': float})

In [6]:
predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2022-12-27 to 2023-01-04
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   close             9 non-null      float64
 1   Prophet-forecast  8 non-null      float64
 2   difference        8 non-null      object
dtypes: float64(2), object(1)
memory usage: 288.0+ bytes

In [7]:
predictions_df['difference'].map(type)

Datetime
2022-12-27    <class 'float'>
2022-12-28      <class 'str'>
2022-12-29      <class 'str'>
2022-12-30      <class 'str'>
2022-12-31      <class 'str'>
2023-01-01      <class 'str'>
2023-01-02      <class 'str'>
2023-01-03      <class 'str'>
2023-01-04      <class 'str'>
Name: difference, dtype: object

In [11]:
predictions_df = predictions_df.astype({'difference': str})

In [12]:
predictions_df['difference'] = predictions_df['difference'].apply(lambda x: x.replace(',',''))

In [13]:
predictions_df = predictions_df.astype({'difference': float})

In [14]:
predictions_df

               close  Prophet-forecast  difference
Datetime
2022-12-27  16608.63               NaN         NaN
2022-12-28  16562.38       16097.03240     -465.35
2022-12-29  16551.04       15980.92149     -570.12
2022-12-30  16546.73       15952.49113     -594.24
2022-12-31  16544.70       15896.96875     -647.73
2023-01-01  16639.84       15867.29250     -772.55
2023-01-02  16733.06       15851.48796     -881.57
2023-01-03  16870.33       15798.01724    -1072.31
2023-01-04  16819.94       15787.29090    -1032.65

In [17]:
predictions_df.to_csv(Path('./Bifinex-Bitcoin-ActualClose.csv'))